/* RESET BASICO */
*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

/* ESTILO GENERAL */
body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #0f0f0f, #1c1c1c, #ff7b00);
    color:#ffffff;
    min-height:100vh;
}

/* CONTENEDOR PRINCIPAL */
main{
    background: rgba(0,0,0,0.75);
    backdrop-filter: blur(10px);
    max-width:900px;
    margin:40px auto;
    padding:35px;
    border-radius:20px;
    border:1px solid rgba(255,255,255,0.1);
    box-shadow:0 0 25px rgba(255,123,0,0.25);
}

/* HEADER */
header{
    text-align:center;
    padding:30px;
}

header h1{
    font-size:30px;
    margin-bottom:10px;
    color:#ff7b00;
    letter-spacing:1px;
}

header h2{
    font-weight:normal;
    color:#f18e13;
}

/* IMAGEN PERFIL */
.perfil img{
    width: 200px;
    height:200px;
    border-radius:50%;
    object-fit:cover;
    border:4px solid #ff7b00;
    box-shadow:0 0 20px rgba(255,123,0,0.6);
    margin:20px 0;
}


/* SECCIONES */
section{
    margin-top:25px;
    padding:22px;
    border-radius:15px;
    background: rgba(255,255,255,0.05);
    border-left:4px solid #ff7b00;
    transition:0.3s;
}

/* TITULOS */
h2{
    color:#ff7b00;
    margin-bottom:12px;
    border-bottom:1px solid rgba(255,255,255,0.2);
    padding-bottom:5px;
}

/* LISTAS */
ul, ol{
    padding-left:20px;
}

li{
    margin:8px 0;
    color:#101010;
}

/* FOOTER */
footer{
    background: linear-gradient(90deg, #ff7b00, #d0d328);
    color:rgb(8, 8, 8);
    text-align:center;
    padding:15px;
    margin-top:20px;
    border-radius:0 0 20px 20px;
}

footer p:hover{
    color:#f5e55a;
    font-weight:bold;
}